body {
    /*background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url("../sigelo_seis.png");*/
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: bottom;
	background-color: #edeff2;
	font-family: "Calibri", "Roboto", sans-serif;
}
.chat_window {
	position: absolute;
	width: calc(100% - 20px);
	max-width: 800px;
	height: 600px;
	border-radius: 8px;
	background-color: #fff;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
	background-color: #f8f8f8;
	overflow: hidden;
}

.top_menu {
	background-color: #fff;
	width: 100%;
	padding: 10px 0 2px;
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);

}

.top_menu .buttons {
	margin: 0px 0 0 20px;
	position: absolute;
}

.top_menu .buttons .button {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
	position: relative;
}

.top_menu .buttons .button.close {
	background-color: #ff0000;
}

.top_menu .buttons .button.minimize {
	background-color: #fdbf68;
}

.top_menu .buttons .button.maximize {
	background-color: #a3d063;
}

.top_menu .title {
	text-align: left;
	color: #bcbdc0;
	padding-left:90px;
}

.messages {
	position: relative;
	list-style: none;
	padding: 20px 20px 0 20px;
	margin: 0;
	height: 80%;
	overflow: scroll;
}

.messages .message {
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
	transition: all 0.5s linear;
	opacity: 0;
}

.messages .message.left .avatar {
    font-size: 10px;
	background-color: #FFF;
	border:2px solid #cdcdcd;
	float: left;
	text-align: center;
	display: inline-block;
	line-height: 50px;
}

.messages .message.left .text_wrapper {
	background-color: #FFF;
	border:2px solid #cdcdcd;
	margin-left: 10px;
	border-radius:10px;
	width:50%
}

.messages .message.left .text_wrapper::after,
.messages .message.left .text_wrapper::before {
	right: 100%;
	/*border-right-color: white;*/
}

.messages .message.left .text {
	color: #444;
}

.messages .message.left .text .time_date {
    font-size: 10px;
    color: #999;
}

.messages .message.right .avatar {
    font-size: 10px;
	background-color: #457b9d;
	border:2px solid #93abaf;
	display: inline-block;
	float: right;
	text-align: center;
	color: #FFF;
	line-height: 50px;
}

.messages .message.right .text_wrapper {
	background-color: #457b9d;
	border:2px solid #e0fbfc;
	float: right !important;
	margin-right: 10px;
	border-radius:10px;
	width:50%;
}

.messages .message.right .text_wrapper::after,
.messages .message.right .text_wrapper::before {
	left: 100%;
	/*border-left-color: blue;*/
}

.messages .message.right .text {
	color: #FFF;
}

.messages .message.right .text .time_date {
    font-size: 10px;
    color: #CCC;
}

.messages .message.appeared {
	opacity: 1;
}

.messages .message .avatar {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: inline-block;
}

.messages .message .text_wrapper {
	display: inline-block;
	padding: 10px;
	border-radius: 2px;
	width: calc(100% - 85px);
	min-width: 100px;
	position: relative;
}

.messages .message .text_wrapper::after,
.messages .message .text_wrapper:before {
	top: 18px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.messages .message .text_wrapper::after {
	border-width: 13px;
	margin-top: 0px;
}

.messages .message .text_wrapper::before {
	border-width: 15px;
	margin-top: -2px;
}

.messages .message .text_wrapper .text {
	/*font-size: 14px;*/
	/*font-weight: 300;*/
}

.bottom_wrapper {
	position: relative;
	width: 100%;
	background-color: #fff;
	padding: 10px 10px;
	position: absolute;
	bottom: 0;
}

.bottom_wrapper .message_input_wrapper {
	display: inline-block;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #CCC;
	width: calc(100% - 150px);
	position: relative;
	padding: 0 20px;
}

.bottom_wrapper .message_input_wrapper .message_input {
	border: none;
	height: 100%;
	box-sizing: border-box;
	width: calc(100% - 40px);
	position: absolute;
	outline-width: 0;
	color: gray;
}

.bottom_wrapper .send_message {
	width: 140px;
	height: 40px;
	display: inline-block;
	border-radius: 5px;
	background-color: #C0C0C0;
	border: 2px solid #C0C0C0;
	color: #fff;
	cursor: pointer;
	transition: all 0.2s linear;
	text-align: center;
	float: right;
}

.bottom_wrapper .send_message:hover {
	color: #C0C0C0;
	background-color: #fff;
}

.bottom_wrapper .send_message .text {
	font-size: 14px;
	display: inline-block;
	line-height: 35px;
}

.message_template {
	display: none;
}

header.terminal {
	background: #E0E8F0;
	height: 30px;
	border-radius: 8px 8px 0 0;
	padding-left: 10px;
}

.terminal-container header .button {
	width: 12px;
	height: 12px;
	margin: 10px 4px 0 0;
	display: inline-block;
	border-radius: 8px;
}

.green {
	background-color: #3BB662 !important;
}

.red {
	background-color: #E75448 !important;
}

.yellow {
	background-color: #E5C30F !important;
}

.terminal-container {
	/*text-align: left;
	width: calc(100% - 20px);
	border-radius: 10px;
	margin: auto;
	margin-bottom: 14px;*/
}

.terminal-fixed-top {
	/*margin-top: 30px;*/
}

.terminal-home {
	/*background-color: #30353A;*/
	background:#30353A;
	padding: 1.5em 1em 1em 2em;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	color: #FAFAFA;
}